    <div class="site-wrap">

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
    
    <header class="site-navbar py-3" role="banner">

      <div class="container-fluid">
        <div class="row align-items-center">

          <div class="col-6 col-xl-2" data-aos="fade-down">
            <h1 class="mb-0"><a href="/" class="text-white h2 mb-0">Photosen</a></h1>
          </div>
          <div class="col-10 col-md-8 d-none d-xl-block" data-aos="fade-down">
            <nav class="site-navigation position-relative text-right text-lg-center" role="navigation">

              <ul class="site-menu js-clone-nav mx-auto d-none d-lg-block">
                <li class="active"><a href="/">Home</a></li>
                <li class="has-children">
                  <a href="#">Gallery</a>
                  <ul class="dropdown">
                    {% for cat in category %}
                    <li><a href="#">{{ cat.name }}</a></li>

                    {% endfor %}
                  </ul>
                </li>
             
                <li><a href="{% url 'photo:about' %}">About</a></li>
                <li><a href="{% url 'photo:contact' %}">Contact</a></li>
                 <li class="has-children">
                  {% if user.is_authenticated %}
                  <a href="#">Create</a>
                  <ul class="dropdown">
                    <li><a href="{% url 'photo:create-photo' %}">Photo</a></li>
                    {% if user.is_staff %}
                    <li><a href="{% url 'photo:category-create' %}">Category</a></li>
                      {% endif %}
                  </ul>
                  {% endif %}
                </li>
                {% if user.is_authenticated %}
                
                 <li class="has-children">
                  <a href="{% url 'user-page' %}">Profile</a>
                  <ul class="dropdown">
                    <li><a href="{% url 'user-page' %}">Profile</a></li>
                    <li><a href="{% url 'account_logout' %}">SignOut</a></li>
                  </ul>
                </li>
                {% else %}
                  <li class="has-children">
                  <a href="#">Login</a>
                  <ul class="dropdown">
                    <li><a href="{% url 'account_signup' %}">Signup</a></li>
                    <li><a href="{% url 'account_login' %}">Login</a></li>
                  </ul>
                </li>
                {% endif %}
            </nav>
          </div>
    
          <div class="col-6 col-xl-2 text-right" data-aos="fade-down">
            <div class="d-none d-xl-inline-block">
              <ul class="site-menu js-clone-nav ml-auto list-unstyled d-flex text-right mb-0" data-class="social">
                <li>
                  <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                </li>
                <li>
                  <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                </li>
                <li>
                  <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                </li>
                <li>
                  <a href="#" class="pl-3 pr-3"><span class="icon-youtube-play"></span></a>
                </li>
              </ul>
            </div>

            <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>

          </div>
      
    </header>
  </div>