{% extends 'base.html' %}
{% load static %}
{% block content %}


 

    <div class="container-fluid" data-aos="fade" data-aos-delay="500">
      <div class="row">
      {% for cat in category %}
        <div class="col-lg-4">

          <div class="image-wrap-2">
            <div class="image-info">
              <h2 class="mb-3">{{ cat.name }}</h2>
              <a href="{% url 'photo:single' cat.pk %}" class="btn btn-outline-white py-2 px-4">More Photos</a>
            </div>
            <img style="height: 442px; width: 448px;" src="{{ cat.thumbnail.url }}" alt="Image" class="img-fluid">
          </div>

        </div>
        {% endfor %}
     
      </div>
    </div>



    
    
  </div>


{% endblock content %}