{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="site-section"  data-aos="fade">
      <div class="container-fluid">

        <div class="row justify-content-center">

          <div class="col-md-7">
            <div class="row mb-5">
              <div class="col-12 ">
                <h2 class="site-section-heading text-center">{{categories.name | title  }}</h2>
              </div>
            </div>
          </div>

        </div>
        <div class="row" id="lightgallery">
          {% for photo in photos %}

           <div  class="col-sm-6 col-md-4 col-lg-3 col-xl-3 item" data-aos="fade" data-src="{{ photo.image.url }}" data-sub-html="<h4>{{ photo.title |title }}</h4><p>{{ photo.category }}</p>">
            <a href="#"><img style="width: 332px; height: 218px;" src="{{ photo.image.url }}" alt="IMage" class="img-fluid"></a>
          </div>
            {% endfor %}
        </div>
      </div>
    </div>    
  </div>

  {% endblock content %}
